<div class="conatiner">
  <div class="row fondo">
 <nav class="navbar navbar-expand-lg  ">
  <a class="navbar-brand col-5" href="#"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <div class="col-4">
      <div class="col-8"></div>
      <div class="col-4">
        <li class="navbar-nav">
           <a class="navbar-brand" href="#">
          <img src="../../assets/img/mac.png" width="30" height="30" class="d-inline-block align-top" alt="">
           </a>
          </li>
      </div>
    </div>
    
      
      <li class="nav">
        <a class="nav-link" >{{mac}}</a>
      </li>
      </div>
      

      <li class="nav">
        <a class="nav-link" href="#">{{ipad}}</a>
      </li>
      
      <li class="nav">
          <a class="nav-link" href="#">{{iphone}}</a>
      </li>
      <li class="nav">
            <a class="nav-link" href="#">{{watch}}</a>
      </li>
      <li class="nav">
          <a class="nav-link" href="#">{{tv}}</a>
      </li>
      <li class="nav">
          <a class="nav-link" href="#">{{music}}</a>
      </li>
    
      <li class="nav">
          <a class="nav-link" href="#">{{soporte}}</a>
      </li>
    
      <ul class="navbar-nav">
          <a class="navbar-brand" href="#">
        <img src="../../assets/img/lupa.jpg" width="30" height="30" class="d-inline-block align-top" alt="">
          </a>
      </ul>
  </nav>
</div>

        
      

      